/* Slider Image */

.carousel-caption h5 {
    position: relative;
    top: -324px;
    font-size: 25px;
}

.carousel-caption p{
    position: relative;
    top: -324px;
    font-size: 25px;
}

.mid{
    width: 1300px;
    margin: auto;
}

.img{
    max-width: 100%;
}

.b-img img {
    width: 325px;
    border: 3px solid #ecebeb;
    margin-left: -30px;
}
.b-txt h1 {
    font-size: 25px;
}
.bqt{
    border-bottom: 2px solid #ddd;
}
